@model BmiCalcWeb.Models.WebPageModel
@{
    ViewData["Title"] = "BMI-Calculator";
}

<div>
    <h1 class="display-4">BMI-Calculator</h1>
    <form method="post">
        <div>
            <input type="radio" asp-for="MeasurementSystem" value="US"/>
            <label asp-for="MeasurementSystem">US</label>
        </div>
        <div>
            <input type="radio" asp-for="MeasurementSystem" value="Metric"/>
            <label asp-for="MeasurementSystem">Metric</label>
        </div>
        <div>
            <input type="text" asp-for="Person.Height"/>
            <label asp-for="Person.Height">Height</label>
        </div>
        <div>
            <input type="text" asp-for="Person.Weight"/>
            <label asp-for="Person.Weight">Weight</label>
        </div>
        <div>
            <input type="submit" value="Calculate"/>
        </div>
        @if(Model?.Person?.Bmi != null)
        {
            <div>
                BMI: @(Model.Person.Bmi.Value.ToString("F2"))
            </div>    
        }
        @if (Model?.Person?.BmiInterpretation != null)
        {
            <div>
                BMI Interpretation: @(Model.Person.BmiInterpretation)
            </div>    
        }
        
    </form>
    
</div>
